
<form  id="container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>Sign-in</h1>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Email...">
        <mat-hint>Email</mat-hint>
        <mat-error>
            Must be a valid email.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" matInput placeholder="password...">
        <mat-hint>Password</mat-hint>
        <mat-error> password is required. </mat-error>
    </mat-form-field>

    <button [disabled]="loginForm.invalid" mat-raised-button color="primary">Submit</button>

</form>


