#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
 
    align-items: center;

}

mat-form-field{
    width: 300px;
    padding-bottom: 20px;
}

button{
    margin-top: 10px;
}